name: Composer outdated

on:
  schedule:
    - cron: '0 5 * * 0'
  workflow_dispatch:

env:
  PHP_VERSION: 8.2

jobs:
  composer-outdated:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest tag
        id: checkout-latest-tag
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 #v5.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          ref: main
          fetch-depth: 0

      - name: Create composer cache
        id: create-composer-cache
        uses: ./.github/actions/composer-cache

      - name: Set up PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f #v2.35.5
        with:
          php-version: '${{ env.PHP_VERSION }}' 

      - name: Composer install modules
        id: composer-install
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
        run: |
          composer install --no-dev --no-ansi --no-interaction --no-progress --no-suggest

      - name: Check for outdated packages
        id: composer-outdated
        env:
          COMPOSER_AUTH: ${{ secrets.COMPOSER_AUTH }}
        run: |
          composer outdated --direct --format=json > outdated.json
          echo "text<<EOF" >> $GITHUB_OUTPUT
          jq -r '.installed[] | select(.version != .latest) | "- \(.name)@\(.version) → \(.latest)"' outdated.json >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
      
      - name: Use outdated packages list
        run: |
          echo "Outdated packages:"
          echo "${{ steps.composer-outdated.outputs.text }}"

      - name: Set current date
        id: date
        run: echo "date=$(date +%Y-%m-%d-%H:%M)" >> $GITHUB_OUTPUT

      - name: Find and manage composer outdated issue
        id: composer-outdated-issue
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          EXISTING_ISSUE=$(gh issue list --label "composer: outdated" --state open \
          --repo "${GITHUB_REPOSITORY}" \
          --search "Composer outdated modules check" \
          --json number,title --jq '.[] | select(.title | startswith("Composer outdated modules check")) | .number') 
          if [ -n "$EXISTING_ISSUE" ]; then
            gh issue close "$EXISTING_ISSUE" --comment "new check [${{ steps.date.outputs.date }}]" \
            --reason "not planned" \
            --repo "${GITHUB_REPOSITORY}"
          else
            gh issue create \
              --repo "${GITHUB_REPOSITORY}" \
              --title "Composer outdated modules check [${{ steps.date.outputs.date }}]" \
              --body "## ⚠️ Composer outdated modules:
                
                ${{ steps.composer-outdated.outputs.text }}
                
                generated on: [${{ steps.date.outputs.date }}]
                [workflow run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" \
              --label "composer: outdated" \
              --assignee "${{ github.repository_owner }}"
          fi
