name: Deploy to environment

on:
  repository_dispatch:
    types: [deployment]

concurrency:
  group: deploy

permissions:
  contents: write
  pull-requests: write
  issues: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.client_payload.environment }}
    steps:
      - name: Download latest artifact
        id: artifact-download
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: ${{ github.event.client_payload.artifact_name }}
          path: ${{ github.run_id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.client_payload.artifact_run_id }}

      - name: Configure AWS S3 credentials
        id: aws-auth
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 #v5.1.0
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          ### secure oidc for aws
          #role-to-assume: ${{ secrets.AWS_ROLE }}
          #role-session-name: ${{ secrets.AWS_SESSION_NAME }}
          ### simple s3 token for hetzner
          audience: ""
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          force-skip-oidc: true

      - name: Upload latest artifact to S3 storage
        id: artifact-upload-to-s3
        run: |
          aws --endpoint-url ${{ secrets.S3_ENDPOINT }} \
            s3 cp ./${GITHUB_RUN_ID}/${{ github.event.client_payload.artifact_name }} \
            s3://${{ secrets.S3_BUCKET }}/releases/${{ github.event.client_payload.artifact_name }}

        # python, nginx, redis, rabbitmq event trigger for hetzner.
        # in aws use s3 events with eventbridge, lambda, ssm.
      - name: Trigger webhook to start deployment
        id: deployment-webhook
        run: |
          timestamp=$(date -u +%s)
          webhook_payload=$(jq -n \
            --arg artifact_name "${{ github.event.client_payload.artifact_name }}" \
            --arg artifact_digest "${{ github.event.client_payload.artifact_digest }}" \
            --arg timestamp "$timestamp" \
            '{artifact_name: $artifact_name, artifact_digest: $artifact_digest, timestamp: $timestamp}')

          webhook_payload_signature=$(echo -n "$webhook_payload" | openssl dgst -sha256 -hmac "${{ secrets.SIGNATURE_HMAC_KEY }}" | cut -d ' ' -f2)

          curl -X POST "${{ secrets.DEPLOY_WEBHOOK_URL }}" \
            -H "Content-Type: application/json" \
            -H "X-Webhook-Secret: ${{ secrets.DEPLOY_WEBHOOK_SECRET }}" \
            -H "X-Signature: sha256=$webhook_payload_signature" \
            -H "X-Timestamp: $timestamp" \
            --data "$webhook_payload"

      - name: Create comment about deployment status
        id: deployment-status-comment
        if: ${{ !cancelled() }}
        run: |
          COMMENT=""
          declare -A step_icons=( ["success"]="✔️" ["failure"]="❌" ["skipped"]="➖"  ["cancelled"]="✖️" )
          COMMENT+="## ⚠️ ${{ github.event.client_payload.environment }} release ${{ github.event.client_payload.tag_name }} deployment status:\n"
          COMMENT+="${step_icons[${{ steps.artifact-download.outcome }}]} Download artifact build: ${{ steps.artifact-download.outcome }}\n"
          COMMENT+="${step_icons[${{ steps.artifact-upload-to-s3.outcome }}]} Upload artifact to S3 storage: ${{ steps.artifact-upload-to-s3.outcome }}\n"
          COMMENT+="${step_icons[${{ steps.deployment-webhook.outcome }}]} Deployment webhook event trigger: ${{ steps.deployment-webhook.outcome }}\n"
          echo -e "${COMMENT}" > deployment.txt
          echo "deployment_status<<EOF" >> $GITHUB_OUTPUT
          echo -e "$COMMENT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Find ${{ github.event.client_payload.environment }} release PR
        id: find-pr
        if: ${{ github.event.client_payload.environment == 'staging' && !cancelled() }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pr_number=$(gh pr list \
            --repo "${GITHUB_REPOSITORY}" \
            --state open \
            --label "autorelease: pending" \
            --search "-in:title alpha" \
            --json number \
            --limit 1 \
            --jq '.[0].number')
          echo "pr_number=$pr_number" >> ${GITHUB_OUTPUT}

      - name: Add comment about deployment status
        id: deployment-status
        if: ${{ github.event.client_payload.environment == 'staging' && !cancelled() }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: |
          gh pr comment ${{ steps.find-pr.outputs.pr_number }} \
          --repo "${GITHUB_REPOSITORY}" \
          --body-file deployment.txt

      - name: Set current date
        id: date
        if: ${{ github.event.client_payload.environment == 'production' && !cancelled() }}
        run: echo "date=$(date +%Y-%m-%d-%H:%M)" >> $GITHUB_OUTPUT

      - name: Find and manage production deployment issue
        id: deployment-issue
        if: ${{ github.event.client_payload.environment == 'production' && !cancelled() }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          EXISTING_ISSUES=$(gh issue list --label "release" --state open \
          --repo "${GITHUB_REPOSITORY}" \
          --search "Production release deployment status" \
          --json number,title --jq '.[] | select(.title | startswith("Production release deployment status")) | .number') 
          if [ -n "$EXISTING_ISSUES" ]; then
            echo "$EXISTING_ISSUES" | while read -r issue; do
              gh issue close "$issue" --comment "new deployment [${{ github.event.client_payload.artifact_name }}]" \
                --reason "not planned" \
                --repo "${GITHUB_REPOSITORY}"
            done
          fi
          gh issue create \
            --repo "${GITHUB_REPOSITORY}" \
            --title "Production release deployment status [${{ job.status }}]" \
            --body "  
            ${{ steps.deployment-status-comment.outputs.deployment_status }}
          
              generated on: [${{ steps.date.outputs.date }}]
              [workflow run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})" \
            --label "deployment: ${{ job.status }}" \
            --label "release" \
            --assignee "${{ github.repository_owner }}"
