name: Deploy to environment

on:
  repository_dispatch:
    types: [deployment]

concurrency:
  group: deploy

permissions:
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.event.client_payload.environment }}
    steps:
      - name: Download latest artifact
        id: artifact-download
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 #v6.0.0
        with:
          name: ${{ github.event.client_payload.artifact_name }}
          path: ${GITHUB_RUN_ID}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.client_payload.artifact_run_id }}

      - name: Configure AWS credentials
        id: aws-auth
        uses: aws-actions/configure-aws-credentials@00943011d9042930efac3dcd3a170e4273319bc8 #v5.1.0
        with:
          ### secure oidc for aws
          #role-to-assume: ${{ secrets.AWS_ROLE }}
          #role-session-name: ${{ secrets.AWS_SESSION_NAME }}
          aws-region: ${{ secrets.AWS_REGION }}
          ### simple s3 token for hetzner
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Upload latest artifact to S3 storage
        id: artifact-upload-to-s3
        run: |
          aws --endpoint-url https://${{ secrets.S3_ENDPOINT }} \
            s3 cp ./${GITHUB_RUN_ID}/${{ github.event.client_payload.artifact_name }} \
            s3://${{ secrets.S3_BUCKET }}/releases/${{ github.event.client_payload.artifact_name }}

        # nginx redis rabbitmq event trigger for hetzner.
        # in aws use s3 events with eventbridge lambda ssm.
      - name: Trigger webhook to start deployment
        id: deployment-webhook
        run: |
          timestamp=$(date -u +%s)
          webhook_payload=$(jq -n \
            --arg artifact_name "${{ github.event.client_payload.artifact_name }}" \
            --arg artifact_digest "${{ github.event.client_payload.artifact_digest }}" \
            --arg timestamp "$timestamp" \
            '{artifact_name: $artifact_name, artifact_digest: $artifact_digest, timestamp: $timestamp}')

          webhook_payload_signature=$(echo -n "$webhook_payload" | openssl dgst -sha256 -hmac "${{ secrets.SIGNATURE_HMAC_KEY }}" | cut -d ' ' -f2)

          curl -X POST "${{ secrets.DEPLOY_WEBHOOK_URL }}" \
            -H "Content-Type: application/json" \
            -H "X-Webhook-Secret: ${{ secrets.DEPLOY_WEBHOOK_SECRET }}" \
            -H "X-Signature: sha256=$webhook_payload_signature" \
            -H "X-Timestamp: $timestamp" \
            --data "$webhook_payload"

      - name: Comment about deployment status
        id: deployment-status-comment
        if: ${{ !cancelled() }}
        run: | 
          COMMENT=""
          declare -A step_icons=( ["success"]="✔️" ["failure"]="❌" ["skipped"]="➖"  ["cancelled"]="✖️" )
          COMMENT+="## ⚠️ ${{ github.event.client_payload.environment }} release ${{ github.event.client_payload.tag_name }} deployment status:\n"
          COMMENT+="${step_icons[${{ steps.artifact-download.outcome }}]} Download artifact release ${{ github.event.client_payload.artifact_name }}: ${{ steps.artifact-download.outcome }}\n"
          COMMENT+="${step_icons[${{ steps.artifact-upload-to-s3.outcome }}]} Upload artifact to S3 storage: ${{ steps.artifact-upload-to-s3.outcome }}\n"
          COMMENT+="${step_icons[${{ steps.deployment-webhook.outcome }}]} Deployment webhook event trigger: ${{ steps.deployment-webhook.outcome }}\n"
          echo -e "${COMMENT}" > deployment.txt
          DEPLOYMENT_STATUS=$(cat deployment.txt)
          echo "deployment_status<<EOF" >> $GITHUB_ENV
          echo "$DEPLOYMENT_STATUS" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

      - name: Find ${{ github.event.client_payload.environment }} release PR
        id: find-pr
        if: ${{ github.event.client_payload.environment == 'staging' }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pr_number=$(gh pr list \
            --repo "${GITHUB_REPOSITORY}" \
            --state open \
            --label "autorelease: pending" \
            --search "-in:title alpha" \
            --json number \
            --limit 1 \
            --jq '.[0].number')
          echo "pr_number=$pr_number" >> ${GITHUB_OUTPUT}

      - name: Add comment about deployment status
        id: deployment-status
        if: ${{ github.event.client_payload.environment == 'staging' && !cancelled() }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: | 
          gh pr comment ${{ steps.find-pr.outputs.pr_number }} \
          --repo "${GITHUB_REPOSITORY}" \
          --body-file deployment.txt

      - name: Find existing issue
        id: find-issues
        if: ${{ github.event.client_payload.environment != 'staging' && !cancelled() }}
        uses: actions-cool/issues-helper@9861779a695cf1898bd984c727f685f351cfc372 #v3.7.2
        with:
          actions: 'find-issues'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-creator: 'github-actions[bot]'
          issue-state: 'open'
          title-includes: 'Production release deployment status'
          labels: 'release'
          exclude-labels: 'overdue'

      - name: Process found issues
        id: found-issues
        if: ${{ github.event.client_payload.environment != 'staging' && !cancelled() }}
        run: |
          printf '%s' '${{ steps.find-issues.outputs.issues }}' > issues.txt
          ISSUE_NUMBERS=$(grep -oP '(?<=number":)\d+' issues.txt | paste -sd,)
          echo "issue_numbers=${ISSUE_NUMBERS}" >> $GITHUB_OUTPUT

      - name: Add labels
        id: issue-labeler
        if: ${{ steps.found-issues.outputs.issue_numbers != '' && !cancelled() }}
        uses: actions-cool/issues-helper@9861779a695cf1898bd984c727f685f351cfc372 #v3.7.2
        with:
          actions: 'add-labels'
          token: ${{ secrets.GITHUB_TOKEN }}
          issue-number: ${{ steps.found-issues.outputs.issue_numbers }}
          labels: 'overdue'

      - name: Set current date
        if: ${{ !cancelled() }}
        id: date
        run: echo "date=$(date +%Y-%m-%d-%H:%M)" >> $GITHUB_OUTPUT

      - name: Create and maintain issue
        uses: actions-cool/issues-helper@9861779a695cf1898bd984c727f685f351cfc372 #v3.7.2
        id: issue
        if: ${{ github.event.client_payload.environment != 'staging' && !cancelled() }}
        with:
          actions: 'create-issue'
          token: ${{ secrets.GITHUB_TOKEN }}
          title: 'Production release deployment status: ${{ job.status }}'
          body: |
            
            ${{ env.deployment_status }}
              
              
            generated on: [${{ steps.date.outputs.date }}]
            [workflow run](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
          labels: 'release,deployment: ${{ job.status }}'
          assignees: ${{ github.repository_owner }}

