name: PageSpeed Insights

on:
  workflow_dispatch:

jobs:
  pagespeed:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest tag
        id: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: Run PageSpeed Insights
        uses: ./.github/actions/pagespeed
        with:
          url: '${{ secrets.WEBSITE_URL }}'
          strategy: 'mobile'
          psi_key: ${{ secrets.PSI_API_KEY }}
          crux_key: ${{ secrets.CRUX_API_KEY }}
