name: "ZAP Security Scan"

on:
  workflow_run:
    workflows: ["Deploy to environment"]
    types: [completed]

jobs:
  zap_scan:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
        ### for extended configuration files
      - name: Checkout latest tag
        id: checkout-latest-tag
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2

      - name: ZAP Scan
        uses: zaproxy/action-baseline@7c4deb10e6261301961c86d65d54a516394f9aed #v0.14.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: ${{ secrets.WEBSITE_URL }}
          issue_title: "ZAP Scan Baseline Report"
          cmd_options: "-l WARN -D 1 -a -s -j"
